.body {
  background-color: #ECDFCC;
  position: fixed;

  > .header {
    background-color: #3C3D37;
    height: 10vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    > h1 {
      display: inline-block;
      margin-inline-start: 3ch;
    }

    > h2 {
      display: inline-block;
      margin-inline-start: 3ch;
    }
  }

  > .sidebar {
    background-color: #697565;
    width: 10vw;
    position: absolute;
    top: 10vh;
    left: 0;
    bottom: 0;
  }

  > .main {
    position: absolute;
    top: 10vh;
    left: 15vw;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: flex-start;

    abbr {
      text-decoration: none;
    }

    input, select {
      background-color: #fff;
      border: #3C3D37 .1em solid;
      border-radius: .2em;
      padding: .5ch 1ch;
      line-height: 100%;
      font-size: 1em;
    }
  }
}