.linkList {
  width: max-content;
  height: max-content;
  padding: .25em 0;
  margin: 0;
  display: block;

  > li {
    appearance: none;
    display: block;
    padding: .05em 1ch;
    background-color: #fff;

    &:hover {
      background-color: #eee;
    }

    > a {
      display: flex;
      color: #000;
      text-decoration: none;
      justify-content: space-between;
      gap: 3ch;

      > span:not(:first-child):last-child {
        color: #666;
      }
    }
  }

  &.list {
    > li {
      margin-bottom: .5em;
      padding: .25em 3ch;
    }
  }
}

.linkSelect {
  background-color: #fff;
  border: #3C3D37 .1em solid;
  border-radius: .2em;
  position: relative;
  width: max-content;
  padding: .2ch 1ch;

  .linkList {
    display: none;
    position: absolute;
    top: calc(100% + .2em);
    left: 0;
    z-index: 2;
    background-color: #fff;
    border: #3C3D37 .1em solid;
    border-radius: .2em;
  }

  > span.current {
    display: inline-flex;
    justify-content: space-between;
    gap: 3ch;

    > span:not(:first-child):last-child {
      color: #666;
    }
  }

  &:focus-within {
    background-color: #eee;

    > .linkList {
      display: block;
    }
  }
}